<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav border-0 bg-light mat-elevation-z5" fixedInViewport [attr.role]="'navigation'"
        [mode]="'side'" [opened]="true">
        <mat-toolbar class="bg-primary text-white">
            Quiver
        </mat-toolbar>
        <mat-nav-list>
            <a mat-list-item href="javascript:void(0)" class="select">Veiculos</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="bg-primary text-white">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            &nbsp;
            <span>Veiculos</span>
        </mat-toolbar>
        <!-- Add Content Here -->
        <div class="container mt-5">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>