<mat-card class="p-0">
    <mat-toolbar class="bg-white border-bottom">
        <mat-toolbar-row>
            <span class="spacer"></span>
            <button type="button" mat-icon-button class="text-success" matTooltip="Cadastrar"
                [routerLink]="['cadastrar']">
                <mat-icon>add</mat-icon>
            </button>
        </mat-toolbar-row>

    </mat-toolbar>
    <mat-card-content class="p-3">
        <div class="row">
            <div class="col-md-4 pb-5">
                <mat-form-field class="mat-form-field-fluid">
                    <mat-label>Placa ou Fipe</mat-label>
                    <input type="text" matInput [(ngModel)]="filtroPlacaFipe">
                    <mat-hint>Para buscar um veiculo, informe a placa ou a fipe</mat-hint>
                </mat-form-field>
            </div>
            <div class="col-md-8">
                <button mat-icon-button color="primary" matTooltip="Procurar" (click)="procurar()">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="mat-table__wrapper">
                    <table mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef>
                                ID
                            </th>
                            <td mat-cell *matCellDef="let dado">
                                {{dado.id}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="placa">
                            <th mat-header-cell *matHeaderCellDef>
                                Placa
                            </th>
                            <td mat-cell *matCellDef="let dado">
                                {{dado.placa | uppercase}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="modelo">
                            <th mat-header-cell *matHeaderCellDef>
                                Modelo
                            </th>
                            <td mat-cell *matCellDef="let dado">
                                {{dado.modelo}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="anoModelo">
                            <th mat-header-cell *matHeaderCellDef>
                                Ano do Modelo
                            </th>
                            <td mat-cell *matCellDef="let dado">
                                {{dado.anoModelo}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="anoFabricacao">
                            <th mat-header-cell *matHeaderCellDef>
                                Ano de Fabricacao
                            </th>
                            <td mat-cell *matCellDef="let dado">
                                {{dado.anoFabricacao}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="marca">
                            <th mat-header-cell *matHeaderCellDef>
                                Marca
                            </th>
                            <td mat-cell *matCellDef="let dado">
                                {{dado.marca}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="fipe">
                            <th mat-header-cell *matHeaderCellDef>
                                Fipe
                            </th>
                            <td mat-cell *matCellDef="let dado">
                                {{dado.fipe}}
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef>Ações</th>
                            <td mat-cell *matCellDef="let dado">
                                <button mat-icon-button color="primary" matTooltip="Visualizar"
                                    [routerLink]="['../visualizar', dado.id]">
                                    <mat-icon>visibility</mat-icon>
                                </button>
                                <button mat-icon-button color="warn" matTooltip="Deletar" (click)="deletar(dado.id)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

                        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                    </table>
                    <div class="mat-table__message" *ngIf="dataSource.data.length == 0 && !carregando">
                        Nenhum veiculo encontrado
                    </div>
                    <div class="mat-table__message" *ngIf="carregando">Por favor aguarde....</div>
                </div>
            </div>
        </div>

    </mat-card-content>
</mat-card>