<mat-card class="p-0">
    <mat-toolbar class="bg-white border-bottom">
        <mat-toolbar-row>
            <span class="spacer"></span>
            <button type="button" mat-icon-button class="text-danger" matTooltip="Voltar" [routerLink]="['../../']">
                <mat-icon>arrow_back</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-card-content class="p-3">
        <div class="row">
            <div class="col-md-4">
                <form [formGroup]="form">
                    <mat-form-field class="mat-form-field-fluid">
                        <mat-label>ID</mat-label>
                        <input type="text" matInput formControlName="id">
                    </mat-form-field>
                    <mat-form-field class="mat-form-field-fluid">
                        <mat-label>Placa</mat-label>
                        <input type="text" matInput formControlName="placa">
                    </mat-form-field>
                    <mat-form-field class="mat-form-field-fluid">
                        <mat-label>Modelo</mat-label>
                        <input type="text" matInput formControlName="modelo">
                    </mat-form-field>
                    <mat-form-field class="mat-form-field-fluid">
                        <mat-label>Ano do modelo</mat-label>
                        <input type="text" matInput formControlName="anoModelo">
                    </mat-form-field>
                    <mat-form-field class="mat-form-field-fluid">
                        <mat-label>Ano de fabricacao</mat-label>
                        <input type="text" matInput formControlName="anoFabricacao">
                    </mat-form-field>
                    <mat-form-field class="mat-form-field-fluid">
                        <mat-label>Marca</mat-label>
                        <input type="text" matInput formControlName="marca">
                    </mat-form-field>
                    <mat-form-field class="mat-form-field-fluid">
                        <mat-label>Fipe</mat-label>
                        <input type="text" matInput formControlName="fipe">
                    </mat-form-field>
                </form>
            </div>
        </div>
    </mat-card-content>
</mat-card>