<mat-card class="p-0">
    <mat-toolbar class="bg-white border-bottom">
        <mat-toolbar-row>
            <span class="spacer"></span>
            <button type="button" mat-icon-button class="text-danger" matTooltip="Voltar" [routerLink]="['../']">
                <mat-icon>arrow_back</mat-icon>
            </button>
            &nbsp;
            <button type="button" mat-icon-button class="text-success" matTooltip="Salvar" (click)="salvar()">
                <mat-icon>check</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-card-content class="p-3">
        <div class="row">
            <div class="col-md-4">
                <form [formGroup]="form">
                    <mat-form-field class="mat-form-field-fluid pb-3">
                        <mat-label>Placa</mat-label>
                        <input type="text" matInput formControlName="placa">
                        <mat-hint>Informe a placa do veiculo</mat-hint>
                        <mat-error *ngIf="isControlHasError('placa', 'required')">
                            Placa é <strong>obrigatório</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="mat-form-field-fluid pb-3">
                        <mat-label>Modelo</mat-label>
                        <input type="text" matInput formControlName="modelo">
                        <mat-hint>Informe o modelo do veiculo</mat-hint>
                        <mat-error *ngIf="isControlHasError('modelo', 'required')">
                            Modelo é <strong>obrigatório</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="mat-form-field-fluid pb-3">
                        <mat-label>Ano do modelo</mat-label>
                        <input type="text" matInput formControlName="anoModelo">
                        <mat-hint>Informe o ano do modelo do veiculo</mat-hint>
                        <mat-error *ngIf="isControlHasError('anoModelo', 'required')">
                            Ano do modelo é <strong>obrigatório</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="mat-form-field-fluid pb-3">
                        <mat-label>Ano de fabricacao</mat-label>
                        <input type="text" matInput formControlName="anoFabricacao">
                        <mat-hint>Informe o ano de fabricação do veiculo</mat-hint>
                        <mat-error *ngIf="isControlHasError('anoFabricacao', 'required')">
                            Ano de fabricação é <strong>obrigatório</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="mat-form-field-fluid pb-3">
                        <mat-label>Marca</mat-label>
                        <input type="text" matInput formControlName="marca">
                        <mat-hint>Informe a marca do veiculo</mat-hint>
                        <mat-error *ngIf="isControlHasError('marca', 'required')">
                            Marca é <strong>obrigatório</strong>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="mat-form-field-fluid pb-3">
                        <mat-label>Fipe</mat-label>
                        <input type="text" matInput formControlName="fipe">
                        <mat-hint>Informe a fipe do veiculo</mat-hint>
                        <mat-error *ngIf="isControlHasError('fipe', 'required')">
                            Fipe é <strong>obrigatório</strong>
                        </mat-error>
                    </mat-form-field>
                </form>
            </div>
        </div>
    </mat-card-content>
</mat-card>