/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-table__bottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.mat-table__wrapper {
  width: 100%;
  overflow-x: auto;
}

.mat-table__wrapper mat-cell,
.mat-table__wrapper mat-header-cell {
  min-height: 100%;
}

.mat-table__wrapper .mat-table {
  min-width: 1000px;
  width: 100%;
}

.mat-table__wrapper--dashboard .mat-table {
  min-width: 600px !important;
}

.mat-table__wrapper .mat-table .email-cell {
  word-wrap: normal;
  width: 180px;
  flex: auto;
}

.mat-form-field-fluid {
  display: block !important;
}

.spacer {
  flex: 1 1 auto;
}
